.divider {
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 20px 10px #00000050;
	overflow: hidden;
	background-size: cover;

	.video {
		z-index: 0;
		pointer-events: none;
		filter: brightness(50%);
		width: calc(100vh * (16 / 9));
		height: 100vh;
	}

	.placeholder {
		z-index: 1;
		width: calc(100vh * (16 / 9));
		height: calc(100vh / 3);
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		box-shadow: inset 0px -20px 100px 20px rgb(0 0 0 / 100%);
		line-height: 1.25;

		.title {
			z-index: 1;
			transition: 0.5s ease;
			font-family: 'Bebas-Neue-Light', sans-serif;
			color: white;
			font-size: 5rem;
			&:hover {
				transform: scale(0.995) translateY(-0.05rem);
			}
		}

		.subtitle {
			z-index: 1;
			transition: 0.5s ease;
			font-family: 'Bebas-Neue-Light', sans-serif;
			color: white;
			font-size: 2rem;
			&:hover {
				transform: scale(0.995) translateY(-0.05rem);
			}
		}
	}
}
