.gallery {
	display: flex;
	flex-flow: row wrap;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	gap: 0;

	.image {
		position: relative;
		flex: 1 1 20rem;
		margin: -0.3vw -0.1vh;
		transition: 0.5s ease;

		&:hover {
			transform: scale(1.025);
			z-index: 1;
			transition: 0.5s ease;
		}
	}
}
