@import '../variables.scss';

.section {
	width: 60vw;
	margin: 0 auto;
	padding: 3rem 0;
	display: flex;
	flex-wrap: wrap;

	.left {
		flex: 3 1 40rem;

		.text {
			text-indent: 4rem;
			text-align: justify;
		}

		.row {
			display: flex;
			flex-flow: row wrap;
			gap: 1rem;
			align-items: center;
			justify-content: center;

			.video {
				flex: 1 0 5rem;
			}

			&.large {
				.video {
					flex: 1 0 20rem;
				}
			}

			.moreVideos {
				text-decoration: none;
				color: inherit;
				font-weight: 500;
				font-size: xx-large;
				font-variant: all-small-caps;
				transition: 0.25s ease;
				padding: 1rem;
			}
		}
	}

	.right {
		flex: 1 1;

		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		.cta {
			padding: 1rem 2rem;
		}
	}
}
