@import '../variables.scss';

.section {
	width: 60vw;
	margin: 0 auto;
	padding: 3rem 0;

	.text {
		text-indent: 4rem;
		text-align: justify;
	}

	.signature {
		width: 15rem;
		margin-top: -1rem;
		margin-left: -2rem;
		opacity: 0.90;
		transform: rotate(10deg);

		font-family: 'Sacramento', cursive;
		font-size: 2.5rem;
	}
}
